:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-size: 3rem;
  text-align: center  ;

}

button {
  padding: 1vw;
  font-size: 0.6rem;
  color: aquamarine;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1rem;
}

/* button:active{
  font-size: 0.7rem;
} */

.count-display{
  margin-top: 3rem;
  margin-bottom: 1rem;
  color: blueviolet;
  font-size: 5rem;
}


@media (max-width: 600px) {
  body {
    font-size: 14px; /* Smaller font size for mobile */
  }

  .container {
    padding: 10px;
  }

  .header {
    font-size: 1.2rem;
  }
}